body{
  font-family: "Source Sans Pro", Sans-serif;
  margin: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

.menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.menu li {
  float: left;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after, {
  content: " ";
  display: table;
}

.container:after,
.group:after,
.menu:after {
  clear: both;
}

.container,
.group,
.menu {
  *zoom: 1;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.sekcia-white {
  width: 100%;
  height: 350px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #eeeeee;
  margin-top: 220px;
}

.box {
  position: relative; left:50px;
  display: block;
  width: 300px;
  height: 300px;
  text-align: center;
  background: #ECF0F1;
  border: 1px solid #18BC9C;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
  -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
  box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
  float: left;
  margin: 25px;
  border-radius: 15px;
  -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.box-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  color: #2C3E50;
}

.form-control {
  border-radius: 5px;
  color: #000;
  height: 25px;
  font-weight: 700;
  padding: 10px;
  width: 90%;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
  -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
  box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
}

.box-subtext {
  text-align: center;
  font-size: 10px;
  color: #2C3E50;
  padding: 30px 25px 0px 25px;
}

.num {
  font-weight: 700;
  background: #18BC9C;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  padding: 0px 10px 10px 10px;
}

.portfolio {
    width: 100%;
    min-height: 680px;
    padding-top: 50px;
    background-color: #fff;
    text-align: center
}
.portfolio__title {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px
}
.portfolio__descr {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px
}
.portfolio__filter li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer
}
.portfolio__filter-btn {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
    color: #fff;
    background-color: #1bbc9b;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s
}
.portfolio__filter-btn:hover, .portfolio__filter-btn.is-selected {
    background-color: #158f76
}
.portfolio__content {
    margin: 45px auto 60px
}
.portfolio__item {
    position: relative;
    left: -70px;
    display: block; 
    width: 2000px; 
    height: 500px;
    margin: 25px;
}
.portfolio__item.is-hidden {
    display: none
}
.portfolio__item-img {
    display: inline-block;
    height: 100%;
    margin: 0 auto
}
.portfolio__item-caption {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 35px;
    background-color: #1bbc9b;
    background-color: rgba(27,188,155,.8);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}
.portfolio__item:hover .portfolio__item-caption {
    opacity: 1;
    visibility: visible
}
.portfolio__item-title {
    display: block;
    font-size: 18px;
    margin-bottom: 10px
}
.portfolio__item-title:before {
    content: "\f002";
    display: block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto 20px;
    padding-top: 10px;
    background-color: #ccc;
    background-color: rgba(0,0,0,.5);
    font-family: FontAwesome;
    text-align: center
}
.portfolio__item-cat {
    display: block;
    font-size: 15px
}
table.center {
    margin-left: auto;
    margin-right: auto;
}
